

body{
    background-color: white;
    background-image: url(../Images/Logo.gif);
    background-size: 50%;
    background-position: center;
    background-attachment: fixed;
    background-repeat:no-repeat;  
}

header nav {
    text-align: center;
    background-color: black;
}

header nav a {
    text-decoration: none;
    font-size: 30px;
    padding-right: 40px;
    color: lime;
    font-style: italic; 
    font-weight: bolder; 
    display: inline-block; 
}

header nav a:hover{
    color: red;
}

.active{
    color: red; 
}

#background {
    max-width:50%
}

.box{
    word-wrap: break-word;  
    max-width: 40%; 
    background-color: black;
    color: red; 
    opacity: 0.9;
    text-align: center;
    margin: 3%;
    display:inline-block;
    background-repeat: no-repeat;
    background-size:cover;
}

.box p {
    padding: 1%;
    font-size: 20px;
    background-color: black;
    opacity: 0.9; 
}

.title{
    text-decoration: underline;
}
