.box{
    background-color: black;
    color: white; 
}

#first{ 
    max-width: 100%;
    padding: 1%;
    color: lime; 
    text-align: center; 
}

#first a{
    text-decoration: none;
    color: red; 
}