#first{
    background-image: url(/Images/Icons/business-2998905_960_720.png);
}

#second{
    background-image: url(/Images/Icons/artist-1298996_960_720.png);
}

#third{
    max-width: 100%;
    background-image: url(/Images/pexels-photo-273222.jpeg);
    opacity: 0.9;  
}

#four{
    max-width: 100%; 
    background-image: url(/Images/programming-1873854_960_720.png);
    opacity: 0.9; 
    
}

#four img{
    max-width: 30%;
}

